/.composer/
/composer.lock
/composer.phar
/docker-compose.yml
/docker/php.ini
/php-cs-fixer.phar
/vendor/
/tests/Feature/app/cache/*
/tests/Feature/app/logs/*
!/tests/Feature/app/cache/.gitkeep
!/tests/Feature/app/logs/.gitkeep
